/* .main-bg {
  background: linear-gradient(to right, #f8fbff, #eef5ff);
}

.product-bg {
  background: #f9fbff;
}

.category-scroll {
  max-height: 80vh;
}

.category-img {
  height: 90px;
  object-fit: cover;
}

.product-img {
  height: 180px;
  object-fit: cover;
}

.hover-card {
  transition: all 0.3s ease;
}

.hover-card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.empty-state {
  max-width: 420px;
  border: 1px dashed #c8d7ef;
  border-radius: 16px;
  background-color: #ffffff;
} */

.main-bg {
  background: #f4f6f9;
}

.sidebar-card {
  background: #ffffff;
}

.product-bg {
  background: #ffffff;
}

.category-scroll {
  max-height: 78vh;
}

.category-card {
  transition: all 0.3s ease;
  overflow: hidden;
}

.category-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1) !important;
}

.active-category {
  border: 2px solid #198754 !important;
  background: #f0fff4;
}

.category-img {
  height: 130px;
  object-fit: cover;
}

.product-card {
  transition: all 0.3s ease;
  overflow: hidden;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 28px rgba(0,0,0,0.12) !important;
}

.product-img {
  height: 220px;
  object-fit: cover;
  transition: 0.4s;
}

.product-card:hover .product-img {
  transform: scale(1.05);
}

.empty-state {
  max-width: 500px;
}