<div class="card mx-auto shadow-sm mt-5 p-4" style="width:400px; border-radius:15px">

    <h3 class="text-center mb-3">🔐 Reset Password</h3>

    <!-- ERROR -->
    <!-- <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <div *ngIf="message" class="alert alert-success">{{message}}</div> -->

    <!-- STEP 1 -->
    <div *ngIf="step === 1">
        <input [(ngModel)]="email" class="form-control mb-3" placeholder="Enter Email">
        <button class="btn btn-primary w-100" (click)="sendOtp()" [disabled]="isSending">
            <span *ngIf="!isSending">Send OTP</span>
            <span *ngIf="isSending">
                <span class="spinner-border spinner-border-sm"></span>
                Sending...
            </span>
        </button>
    </div>

    <!-- STEP 2 OTP -->
    <div *ngIf="step === 2" class="text-center">

        <p class="mb-2">Enter OTP</p>

        <!-- <div class="d-flex justify-content-between mb-3">
            <input *ngFor="let o of otp; let i = index" [(ngModel)]="otp[i]" maxlength="1" [id]="'otp'+i" [name]="'otp'+i"
                (input)="moveNext($event,i)" class="form-control text-center mx-1" style="width:40px; font-size:20px;">
        </div> -->

        <div class="d-flex justify-content-between mb-3">

            <input *ngFor="let item of otp; let i = index; trackBy: trackByIndex" type="text" inputmode="numeric"
                maxlength="1" class="form-control text-center mx-1"
                style="width:45px;height:50px;font-size:22px;font-weight:bold;" [id]="'otp' + i" [value]="item"
                (input)="moveNext($event, i)" (keydown)="handleBackspace($event, i)">

        </div>

        <button class="btn btn-success w-100 mb-2" (click)="verifyOtp()" [disabled]="isVerifyingOtp">
            <span *ngIf="!isVerifyingOtp">Verify OTP</span>
            <span *ngIf="isVerifyingOtp">
                <span class="spinner-border spinner-border-sm"></span>
                Verifying...
            </span>
        </button>

        <small *ngIf="timer > 0">Resend in {{timer}}s</small>
        <small *ngIf="timer === 0" (click)="resendOtp()" style="cursor:pointer;color:blue">
            Resend OTP
        </small>

    </div>

    <!-- STEP 3 -->
    <div *ngIf="step === 3">
        <input type="password" [(ngModel)]="password" class="form-control mb-2" placeholder="New Password">
        <input type="password" [(ngModel)]="confirmPassword" class="form-control mb-3" placeholder="Confirm Password">

        <button class="btn btn-primary w-100" (click)="resetPassword()" [disabled]="isResetting">
            <span *ngIf="!isResetting">Update Password</span>
            <span *ngIf="isResetting">
                <span class="spinner-border spinner-border-sm"></span>
                Updating...
            </span>
        </button>
    </div>

    <!-- SUCCESS -->
    <div *ngIf="step === 4" class="text-center">
        <h5>Password Updated</h5>
        <a routerLink="/login" class="btn btn-dark mt-3">Go to Login</a>
    </div>

</div>