<div class="login-wrapper d-flex justify-content-center align-items-center min-vh-100">

  <div class="card shadow-lg border-0 p-3" style="max-width:400px; width:100%; border-radius:15px;">

    <div class="text-center mb-3">
      <img src="assets/images/farmer.jpg"
           class="rounded-circle img-thumbnail"
           style="width:80px; height:80px; object-fit:cover;">
    </div>

    <h4 class="text-center fw-bold mb-3">🔐 Login</h4>

    <div *ngIf="message" class="alert alert-danger text-center">
      {{ message }}
    </div>

    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email"
             [(ngModel)]="loginRequest.email"
             class="form-control"
             placeholder="Enter your email">
    </div>

    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password"
             [(ngModel)]="loginRequest.password"
             class="form-control"
             placeholder="Enter your password">
    </div>

    <button (click)="login()" class="btn btn-success w-100">
      <span *ngIf="!isLoading">Login</span>
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
    </button>

    

    <div class="text-center mt-3">
      <small>New user?</small>
    </div>

    <div class="text-center mt-2">
      <a routerLink="/farmer-register" class="fw-bold text-success me-2">
        Farmer
      </a>
      |
      <a routerLink="/signUp" class="fw-bold text-primary ms-2">
        Customer
      </a>
    </div>

  </div>

</div>
