/* BACKGROUND */
.orders-bg{

  min-height:100vh;

  background:
  linear-gradient(135deg,#edf4ef,#dfece3);
}

/* ORDER CARD */
.order-card{

  background:#f8fbf8;

  border-radius:20px;

  padding:25px;

  border:1px solid #d7e8dc;

  box-shadow:0 4px 12px rgba(0,0,0,0.05);

  transition:0.3s;
}

.order-card:hover{

  transform:translateY(-3px);
}

/* HEADER */
.order-header{

  border-bottom:1px solid #dbe5dd;

  padding-bottom:15px;
}

/* TABLE */
.table{

  background:#f6faf7;

  border-radius:15px;

  overflow:hidden;
}

.table-success{

  background:#dbe9df !important;
}

/* PRODUCT IMAGE */
.product-img{

  width:75px;
  height:75px;

  object-fit:cover;

  border-radius:12px;

  border:2px solid #cfe3d4;
}

/* INFO BOX */
.info-box{

  background:#eef5f0;

  border-radius:14px;

  padding:18px;

  border:1px solid #d7e8dc;

  height:100%;
}

/* SHIPPING BOX */
.shipping-box{

  background:#eef5f0;

  border-radius:14px;

  padding:20px;

  border:1px solid #d7e8dc;
}

/* SELECT */
.status-select{

  border-radius:12px;

  padding:12px;

  border:1px solid #cfd8d2;

  background:#f8fbf8;
}

/* BUTTON */
.update-btn{

  padding:12px 25px;

  border-radius:12px;

  font-weight:600;

  background:#198754;

  border:none;
}

.update-btn:hover{

  background:#157347;
}

/* BADGES */
.badge{

  font-size:13px;

  letter-spacing:0.5px;
}

/* RESPONSIVE */
@media(max-width:768px){

  .order-card{

    padding:18px;
  }

}